html {
    background-image: url("../images/images_Lab04/images2/bg.jpg");
    background-size: 100% 300px;
    background-repeat: no-repeat;
    font-family: "Arial", Times, sans-serif;
}

div#logo img {
    height: 80px;
    max-height: 80px;
    width: auto;
    margin-left: 50px;
}

div#container {
    display: table;
}

div#rows {
    display: flex;
    vertical-align: top;
    margin-top: 5px;
}

div#left {
    display: table-cell;
    width: 300px;
    padding-top: 0%;
    margin: 0%;
    margin-left: 0%;
    border-right: 2px dotted gray;
}

div#content1 ul {
    margin-top: -20px;
}

div#content1 ul li {
    background-image: url("../images/images_Lab04/images2/links-bg.jpg");
    color: aliceblue;
    background-size: 100%;
    list-style-type: none;
    width: 260px;
    text-align: center;
    height: 33px;
}

div#right {
    display: table-cell;
    background-image: url("../images/images_Lab04/images2/header.png");
    width: 600px;
    background-size: 600px;
    margin-top: -90px;
    margin-left: 0px;
    background-repeat: no-repeat;
    float: right;
    text-align: center;
    border-right: 2px solid gray;
}

div#banner {
    display: block;
    font-size: x-large;
    text-align: center;
    margin-top: 130px;
    background-color: rgba(250, 235, 215, 0.781);
    background-position: 30px;
    width: 400px;
    margin-left: 80px;
}

div#left a {
    float: right;
    margin-right: 10px;
}

div#content2,
div#content3 {
    margin-left: 40px;
}

div#header p {
    float: left;
    margin-top: 30px;
    font-size: x-large;
}

div#header img {
    padding-top: 30px;
    float: left;
    margin-left: 25px;
}

div#content {
    margin-left: 25px;
}

div#content p img {
    width: 220px;
    float: left;
}

p#content1 {
    margin-top: 100px;

}

div#content p {
    text-align: left;
    font-size: 1.2rem;
}

div#content2-left {
    text-align: left;
    font-size: 1.2rem;
    margin-left: -50px;
    width: 70%;
}

div#content2-right {
    width: 80%;
    display: table-cell;
    float: right;
    width: 220px;
    margin-top: -200px;
    font-size: 1.1rem;
    text-align: left;
}

hr {
    border-top: 1px dotted red;
    width: 100%;
}

div#footer>ul {
    height: 350px;
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
    border-top: 10px solid blue;
}

div#footer>ul>li {
    text-align: center;
    background-color: rgba(20, 20, 20, 0.745);
    padding: 10px 10px;
    height: 10%;
    list-style-type: none;
    float: left;
    color: aliceblue;
    width: 82px;
}


div#img-cap:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }

}

img#img-cons:hover {
    transform: scale(1.5);
    cursor: pointer;
}

.red {
    color: rgb(167, 63, 112);
}

.font {
    font-family: 'Lucida Handwriting', Courier, cursive;
    font-size: 0.9rem;
}