body {
    font-family: sans-serif;
    font-size: 15px;
}

#menu ul {
    background: #263bb8;
    width: 250px;
    padding: 0;
    list-style-type: none;
    text-align: left;

}

#menu li {
    width: auto;
    height: 40px;
    line-height: 40px;
    border: 1px solid #fff;
    padding: 0 1em;
}

#menu li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: block;
}

#menu li:hover,
#menu li:hover .sub-menu {
    background: #111010;
    display: block;
}

#menu li:hover .sub-menu {
    background: #1e1e78;
    display: block;
}

#menu ul li {
    position: relative;

}

#menu .sub-menu {
    position: absolute;
    left: 250px;
    top: 0;
    float: left;
    overflow: hidden;
    display: none;
}

#menu ul li i {
    float: right;
}